/* Created by J. Ryan Doherty
 	Date: 9/20/16 */

/* google fonts implementation for fira-sans -- major display bug in Windows 7 */
/* @import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,700'; */

@font-face{
    font-family: 'Fira Sans';
    src: url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
			 url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Regular.eot") format("embedded-opentype"),
			 url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Regular.woff2") format("woff2"),
			 url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Regular.woff") format("woff"),
			 url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'Fira Sans';
    src: url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Bold.eot");
    src: local("Fira Sans Bold"),
			url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Bold.eot") format("embedded-opentype"),
			url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Bold.woff2") format("woff2"),
			url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Bold.woff") format("woff"),
			url("//cdn.buyerzone.com/fonts/fira-sans/FiraSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


body {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	margin:0;
	padding:0;
}

/* IE9 hacks */

.ie9 {

	body, h1, h2, h3 {
		 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
	}

	#intro {background:url('//cdn.buyerzone.com/images/leads/office_ie9.jpg')}
	.closer {background:url('//cdn.buyerzone.com/images/leads/office_ie9.jpg')}
	.whatwedo {background:url('//cdn.buyerzone.com/images/leads/office2_ie9.jpg')}

}




p.browsehappy{
	padding:10px 0 0 10px;
}


.purch-bug {
  padding-bottom: 10px !important;
}

h1, h2, h3 {
	margin:0
}



h1 {
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size:70px;
	text-transform:uppercase;

}

h2 {
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 48px
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size:30px
}


.logo svg {
	width:380px;
	height:50px;
	position:absolute;
}


.purch-bug-btn {
	border: 2px solid #FFFFFF !important;
	margin:0 !important;
}

nav {
	padding-top:28px;
}

nav li{
	margin-left:24px
}

.navbar-nav {
	margin-top:20px
}

.navbar-nav a.textlink{
	color:#ffffff ;
	font-size:17px;
	padding-top:5px;
	display:block;

	&:hover {
		color:#FBD157 !important;
	}

}

.btn-info:hover {
	box-shadow: 0px 0px 0px 65px rgba(138, 225, 255, 1) inset;
	transition: all 1.2s ease 0s;
}

.divider1, .divider2 {
	display:block;
	width:100%;
	height:100%;
}

.ie9 .divider1, .ie9 .divider2 {display:none}

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .divider1 {
	  margin-top:-40px;
  }

   .divider2 {
	  margin-bottom:-40px
  }

 @media (max-width: 768px) {
	 .divider1 {
		 display:none;
	  }

   .divider2 {
	  display:none;
  }

 }

}

@supports (-webkit-appearance:none) {

	.divider1 {
		margin-top:-2px;
		margin-left:-5px;
	}

	.divider2 {
	  margin-bottom:-2px
  }

}


@supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto))
and (not (-moz-appearance:none)) {

  .divider1 {
		margin-top:-2px;
		margin-left:-5px;
	}

	.divider2 {
	  margin-bottom:-2px
  }

}


#intro {
	background:url('//cdn.buyerzone.com/images/leads/hero-office.jpg') no-repeat fixed;
	background-size:cover;
	width: 100%;
	color: white;
	height: 520px;
	margin: 0 auto;
	padding: 0;
	/*margin-top:-82px;*/

	&:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #ff7b12, #F49445, #636363, #464646);
	opacity: .84;
	height: 520px;
  }


  .col-lg-7 {
	  position:absolute;
  }

  .get-more {
	  width:390px;
	  position:absolute;
	  top: 190px;
	  left:0;
	  right:0;
	  margin: 0 auto;
	  text-align:center;
  }


	h1 {
		color:#292929;


		span {
			color:#fff;
			background:#292929;
			padding:12px 24px;
			}

		}


	h2 {
		color:#F1F1F1;
		font-size: 43px;
		line-height: 38px;
	}

	.value {
		margin-bottom:30px;
		font-size: 17px;
		line-height: 20px;
		margin-top: 8px;
	}

	.col-lg-10 {
		-webkit-transform: rotate(-1.8deg);
		-moz-transform: rotate(-1.8deg);
		margin-top:12%;
		margin-left:1%;
		visibility:hidden;

		-webkit-transition: 1s ease;
		-moz-transition: .3s ease;
		-o-transition: .3s ease;
		-ms-transition: 1s ease;
		transition: .3s ease;


	.btn-large {
		font-size:42px;
		a {
		color:#ffffff;
		}
	}

	}

	.client {
		background:none;
		border:2px solid #fff;
		padding:10px 16px;
	}

	a:hover {
		text-decoration:none;
	}


	.thanks-text {
		padding-left: 23px;
		padding-top: 40px;
		line-height: 26px;

		h2 {
			margin-bottom:20px
		}

		a {
			color:#FBC85D
		}
	}


} /* end intro styles */




.mobileMessage {
	background:#464646;
	padding:5%;
	display:none;

	h2 {
		font-size:28px;
		color:#fff
	}

}


.contact{
	background:#505050;
	color:#FCFAF5;
	font-size:19px;
	padding:60px 0;

	ul {
		list-style:none;
		margin:0;
		padding:0;
	}

}




.about {
	width:100%;
	text-align:center;
	padding: 65px 0;

	img {
		max-width:100%;
		height:auto;
	}

	h2 {
		text-align:right;
		padding-right:10px;
	}

	h3 {
		padding:0 20px;
	}

	.introText {
		border-left:2px solid #000;
		text-align:left;
		font-size:19px;
	}

	.logos {
		margin:20px auto 0;
		float:none;
	}


	.watch {
		margin:145px 0;
		background:url('//cdn.buyerzone.com/images/leads/video.png') no-repeat center #ffffff;
		background-size:700px;
		height:300px;
		clear:both;

		h3 {
			margin-bottom:20px
		}
	}

} /*end about styles*/

.whatwedo {
	padding:8% 0;
	width:100%;
	background:url('//cdn.buyerzone.com/images/leads/what_we_do.jpg') fixed;
	background-size:cover;
	text-align:center;
	color:#fff;
	position:relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, #F47A20, rgba(244, 148, 69, .84), rgba(99, 99, 99, .84), rgba(70, 70, 70, 1));
	}


	h2 {
		font-size:44px;
	}

	.container {
		padding:10px 0 90px;
	}

	.font17 {
		font-size:17px;
	}

	.col-lg-3 {
		visibility:hidden;
	}

	.introText {
		text-align:left;
		font-size:19px;
		border-left:2px solid #fff;
	}

	.col-lg-4{
		text-align:left;

		&:nth-child(3) {
			border:none;
		}

		img {
			display:block;
			margin: 0 auto;
			margin-bottom:20px;
			width:100px;
			height:100px;
		}

		svg {
			display:block;
			fill:#ffffff;
			margin: 0 auto;
			margin-bottom:20px;
			width:100px;
			height:100px;
		}

		h3 {
			text-align:center;
			padding-bottom:20px
		}

	}

	 .col-sm-1  {
    	color:#F3F3F3;

			img {
				margin-bottom:20px;
			}
}

	#whatwedoThree {
		visibility:hidden;
	}

} /* end what we do styles */


.story {
	padding:4% 0;
	width:100%;
	background:url('//cdn.buyerzone.com/images/leads/brick_white_fade.jpg');
	background-size:cover;
	color:#505050;
	position:relative;
	/*text-align:center;*/

	.col-lg-11 p, .col-lg-12 p {
		font-size:19px;
		text-align:left;
		margin-bottom:44px;
	}

	p {
		text-align:left;
	}

	h2 {
		font-size:41px;
		text-align:left;
		padding-top: 25px;
	}

	/*svg {
		width:190px
	}*/

	button {
		font-size:27px;
		font-weight:700;
		background:none;
		border: 2px solid #505050;
		padding:18px;
		color:#505050;

		&:hover {
			box-shadow: 0px 0px 0px 65px rgba(255, 132, 55, 1) inset;
			transition: all 1.2s ease 0s;
		}

	}

	li.active button {
		color:#ffffff;

	}

	ul {
		font-size:23px;
		list-style-type:none;
	}

	.blueArrow {
		width:1170px;
		display:block;
		margin:72px auto 0;
	}

	.storyIntro {
		position: absolute;
		top: -64px;
		background: #164463;
		margin: 0px auto;
		left: 0px;
		right: 0px;
		padding: 24px;
		color:#f5f7fd;
		border:4px solid #1678B5;


		h2 {
			text-align:left;
		}

		.introText {
			border-left:2px solid #1678B5;
			text-align:left;
			font-size:19px
		}

	}

	.tabContainer {
		padding-bottom: 40px;
		padding-top:24px;
		margin-top:140px;
		text-align:center;
	}

   .nav-tabs {
   	width:100%;
		margin-top:10px;
		margin-bottom:20px;
		border:none;
		clear:both;

   		& > li {
			float:none;
			display:inline-block;

			&.active {
				background:#F9AC21;
				border-radius: 4px;
				}
			}
		}

	.tab-pane {

		min-height:460px;

		h2 {
			font-size:43px;
		}

		h3 {
			font-size:32px;
			color: #34729c;
		}

	} /* end tab-pane */



	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.storyIntro {
				width:100%;
			}
	 }


	.how {

		width:100%;
		overflow:hidden;

		#icon1, #icon2, #icon3 {
			visibility:hidden
		}

		img {
			padding: 18px 0;
			margin: 0 auto;
			display: block;
		}

		svg {
			width:190px;
			height:190px;
		}

	}


	#stories {

		svg {
			width: 58%;
			height: 100%;
		}

	}


	/* integrations tab */

	#integrations .col-lg-4 svg{
		width:112px;
		height:112px;
		margin-bottom:20px;
		display:block;
		margin:0 auto;
	}




	#integrations .col-lg-4 h3 {
		margin-top:20px;
	}



	#leadintell {
		h3 {
			text-align:left;
		}
	}

	#ourstandards {

	.col-lg-7 {
		text-align: left;
		margin-top: 35px;


  		svg {
  			width:100px;
  			height:100px;
  			float:left;
  			margin-top: -12px;
  		 }
		}

	}


} /* end story styles */



.clients {
	width:100%;
	background:url('//cdn.buyerzone.com/images/leads/bg_clients.jpg') no-repeat center;
	background-size:1500px;
	background-position-y: -14px;
	text-align:center;
	height:860px;
	padding-top:70px;

	h2 {
		color:#ffffff;
		margin-bottom:15px;
		}

	.col-lg-4 {
		height:200px;
		margin-right: 10px;
		margin-bottom: 10px;
		cursor:pointer;
		background:rgba(235,202,87,0.70);
		&:hover {
			background:rgba(235,202,87,1.00)
		}
	}
}


.industries {
	padding:4% 0;
	width:100%;
	background:#505050;
	overflow:hidden;
	text-align:center;
	color:#fff;

	h2 {
		text-align:right;
	}

	.row {
		margin-bottom:40px;
	}

	.introText {
		border-left:2px solid #f9f7f5;
		text-align:left;
		font-size:19px;
	}

	.whaticons {
		visibility:hidden;
		overflow:hidden;
		font-size:18px;
		margin-top:40px;
		text-align:center;


	}

}

/* industries rollovers */

.view {
    width: 168px;
    height: 210px;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;


}
.view .mask, .view .content {
    width: 168px;
    height: 210px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

}
.view img {
    display: block;
    position: relative
}

.view ul {
	text-align:left;
	font-size:13px;
	padding: 0 0 0 20px;
	margin:24px 0 0 10px;
	width:85%;

}

.view ul li {
	margin-bottom:12px
}

.view ul li a {
	color:#F6D57E;
}


.col-sm-2 span {
	width: 168px;
	background: #363636;
	display: inline-block;
	padding:8px 0;
	margin-left:-1px;

}

.view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 28px;
    padding: 10px;
    margin: 60px 0 0 0
}

.view p {
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}



.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(244, 148, 69, .9);
    transition: all 0.4s ease-in-out;
}
.view-first h3 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}



.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h3,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}


.closer{
	background:url('//cdn.buyerzone.com/images/leads/hero-office.jpg') 50% 0 no-repeat fixed;
	background-size:cover;
	width: 100%;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	padding-top:55px;
	position:relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, #ff7b12, #F49445, #636363, #464646);
		opacity: .84;
		height: 600px;

		}


	.col-lg-5{
			margin:0 auto;
			display:block;
			float:none;
			text-align:center;
			visibility:hidden;
		}

	.btn-large {
		font-size:34px;
		padding: 18px 28px;
	}

	a:hover {
		text-decoration:none;
	}

	h2 {
		font-size:48px;
		margin-bottom:40px;
	}

}


.navbar-fixed-top + .content-container {
	margin-top: 70px;
}
.content-container {
	margin: 0 130px;
}



#top-link-block.affix-top {
	position: absolute; /* allows it to "slide" up into view */
	 /* negative of the offset - height of link element */
	right:0 /* padding from the left side of the window */
}
#top-link-block.affix {
	position: fixed; /* keeps it on the bottom once in view */
	bottom: 48px;
	right: 40px;
	z-index:10000;
}

#top-link-block.affix a {color:#fff;}
#top-link-block.affix a:hover {color:#3498db;}

.well {
	font-size:21px;
	background:#46b8da;
	border-radius: 8px;
	border:none;
}


.well:hover {
  box-shadow: 0px 0px 0px 65px #8ae1ff inset;
  transition: all 1.2s ease 0s;
  text-decoration:none;
}

input[type="text"] {
	width:265px;
}

.mktField {
	display:inline-block;
	margin:20px 55px 20px 0;
	min-height:100px
}

.mktField:nth-child(4), .mktField:nth-child(7), .mktField:nth-child(10){
	margin-right:0;
}

label {
	display:block
}

.mktError input, .mktError textarea, .mktError select {
	border:4px solid #FA593A;
}

.marketoForm table input {
	border:none;
}

.marketoForm .submitButton {
	width: 415px;
	border: none;
	border-radius:6px;
	cursor:pointer;
	background-color: #5bc0de;
	color:white;
	font-size:24px;
	padding-top: 17px;
	padding-bottom: 17px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-weight:700;
	/*margin:-4px auto 30px 49px;*/
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.marketoForm .submitButton {
		width: 410px;
	}
 }

.submitButton:hover{
	box-shadow: 0px 0px 0px 65px rgba(138, 225, 255, 1) inset;
	transition: all 1.2s ease 0s;
}

.submit:hover {
	color: #3498db;
}


span.mktFormMsg {
    color: #FA593A;
    font-weight: bold;
    display: table;
    font-size: 0.916em;
    padding: 0px;
}

textarea {
	background-color: #fbfbfb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
	padding:13px;
	width:375px;
	height: 150px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	textarea {
		vertical-align:middle;
	}
 }


.phoneNumber {
	font-size:36px;
	margin:30px auto 0;
	text-align:center;
}

.feedback-input {
	color:#3c3c3c;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 5px solid #FABF3A;
	color: #DD9833;
	outline: none;
  	padding: 13px 13px 13px 50px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}


/* Icons ---------------------------------- */
.company{
	background-image: url('//cdn.buyerzone.com/images/leads/company.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	 width: 358px !important;
}

.company:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/company.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.website{
	background-image: url('//cdn.buyerzone.com/images/leads/computer.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width:355px !important;
}

.website:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/computer.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.state, .state:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/us.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100px !important;
}

.phone{
	background-image: url('//cdn.buyerzone.com/images/leads/phone.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.phone:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/phone.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.name{
	background-image: url('//cdn.buyerzone.com/images/leads/name.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.name:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/name.png');
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.email{
	background-image: url('//cdn.buyerzone.com/images/leads/email.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width:428px !important;
}

.email:focus{
	background-image: url('//cdn.buyerzone.com/images/leads/email.png');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}


.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 74px;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
	width:100%;
}


/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}


/* sprite Styles */

.atlas-logo, .advanced-md-logo, .toyota-logo, .safestep-logo, .five-9-logo, .kronos-logo, .paychex-logo, .pitney-bowes-logo, .ricoh-logo, .sharp-logo, .vonage-business-logo, .jacuzzi-logo{
	background: url('//cdn.buyerzone.com/images/leads/sprites_logos.png') no-repeat;
	background-size:300px;
	display:inline-block;
	width:150px;
	height:50px;
	margin: 14px;

}

.atlas-logo{
	background-position: -150px -150px ;
}

.advanced-md-logo{
	background-position: -150px -100px ;
}

.toyota-logo{
	background-position: 0 -150px ;
}

.safestep-logo{
	background-position: -150px -200px ;
}

.five-9-logo{
	background-position: 0 -250px ;
}

.kronos-logo{
	background-position: 0 -200px ;
}

.paychex-logo{
	background-position: 0 -100px ;
}

.pitney-bowes-logo{
	background-position: -150px -50px ;
}

.ricoh-logo{
	background-position: 0 -50px ;
}

.sharp-logo{
	background-position: -150px 0;
}

.vonage-business-logo{
	background-position: 0 0;
}

.jacuzzi-logo{
	background-position: -150px -250px ;
}



/* Footer Styles */

footer {
	padding: 20px;
	background: #464646;
	clear: both;
	font-size: 15px;
	margin-bottom:-30px;
}

footer a {
    color: #fefefe;
}

footer a:hover {
    color: #9ADFFF;
}

footer ul {
    color: #FFF;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

footer p {
    color: #FFF;
    margin: 10px 0;
	font-size: 13px;
}

footer .bzApp {
    color: #464646;
}

footer ul li {
    padding: 4px 0;
}

footer ul li.footHead {
    font-size: 23px;
    font-weight: bold;
    padding: 2px 0;
}

footer .col-lg-2 {
	margin-right:6%;
}

footer .credits {
	width:270px;
	margin:0 auto;
	display:block;
	text-align:center;
	padding-top:40px;
}


.col-sm-4{
	text-align:right;
	font-size:10px
}

span.build {
	font-size: 11px;
	color: #3A3A3A;
}

.bbb {
    margin-top: 36px;
}

.bbb a {
    display: block;
    float: left;
    margin-right: 20px;
}


.copyright {
    background-color: #3A3A3A;
    color: #fff;
	padding:6px 0;

    p {
        margin-top: 9px;
        margin-bottom: 0;
        font-size: 11px;
        line-height: 14px;
        margin-right: 0;
    }
    nav {
        margin-right: 0;
    }
    a {
        color: #fff;
        display: inline-block;
        font-size: 11px;
        padding-right: 10px;
    }
    a:hover {
        color: #9ADFFF;
    }

}




/*
==============================================
slideUp
==============================================
*/

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: .9s;
	-webkit-animation-duration: .9s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: .4s;
	-webkit-animation-duration: .4s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}

	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}

	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: .4s;
	-webkit-animation-duration: .4s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}

	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}

	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
bigEntrance
==============================================
*/


.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;

	animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	visibility: visible !important;


}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}






@media (max-width: 1200px) {

	.logo svg {
		width:320px;
		height:50px;
	}

	.mktField:nth-child(4) {
		margin-right:55px;
	}

	#intro{

		h1{
			font-size:55px;
		}

		h2 {
			font-size:38px;
		}

		.col-lg-10 {
			.btn-large {
				font-size:38px;

			}
		}
	}

	.story {

		.blueArrow {
			width:970px;
		}

		button {
			font-size:19px;

		}

		#leadintell img {
			width:310px;
		}

		#ourstandards .col-lg-4 img {
			width:270px;
		}

		#ourstandards .col-lg-7 {
			margin-top:14px;
		}

		#ourstandards .col-lg-7 svg{
			margin-bottom:30px;
		}
	}

	.view, .view .mask  {
		width: 134px;
		height: 175px;
	}

	.view img{
		width: 134px;
		height: 175px;
	}

	.col-sm-2 span {
		width: 134px;
		font-size:13px;
	}

	.view ul {
		margin:12px 0 0 5px;
		font-size:11px;
	}


}


@media (max-width: 992px) {
	.logo svg{
		width: 210px;
		height:34px;
		margin-top: 12px;
	}

	.navbar-nav a.textlink {
    	font-size: 14px;
	}

	.about {

		h2 {
			text-align:center;
		}

		h3 {
			font-size:27px;
		}

		.introText {
			border:none;
			margin-top: 12px;
		}
	}

	.adt-logo, .advanced-md-logo, .bobcat-logo, .caterpillar-logo, .five-9-logo, .kronos-logo, .paychex-logo, .pitney-bowes-logo, .ricoh-logo, .sharp-logo, .vonage-business-logo, .konica-minolta-logo {
		margin: 8px;
	}

	.whatwedo {

		h2 {
			font-size:36px;
			margin-bottom:10px;
			text-align:left;
		}

		.introText {
			border:none;
		}

	}


	.story {

	.blueArrow {
			display:none;
		}

	.storyIntro {

		position:static;
		margin: 0 auto 40px;


		h2 {
			font-size:36px;
			margin-bottom:10px;
		}

		.introText {
			border:none;
		}

	}

	#stories svg {
    	width:95%;
	}

	#ourstandards .col-lg-7 svg{
			display:none;
		}

	}

	.tabContainer {
		padding-top:0;
	}

	.industries {
		h2{
			text-align:center;
		}

		.introText {
			border:none;
		}

		.col-sm-2{
			margin-right: 8%;
		}
	}

}




@media (max-width: 768px) {

 #intro, .closer, .whatwedo {
	background-attachment:scroll;
}

.hide-mobile {
	display:none;
}

.purch-bug {
    padding-bottom: 0 !important;
}

.menuContainer {
	position:absolute;
	top:0;
	right:10px;
	float:none;
}

.navbar-nav {
	padding-bottom:45px;
}

.logo svg {
	width:190px;
	height:28px;
	top: 5px;
	left: 10px;
}

.nav-tabs {
	margin-top:30px;
}

.nav-tabs > li {
	margin:10px;
}


.nav > li {
	display: inline-block;
	/*margin: -6px 0 -12px 5px;*/
}

.navbar-nav li:first-child, .navbar-nav li:nth-child(2){
	display:none !important;
}


#intro{

	padding-top:82.62%;
	background:url('//cdn.buyerzone.com/images/leads/bg_office_mobile.jpg');
	background-size:cover;
	background-position: 50% 0px;
	height:0;



	&:before {
		display:none;
	}

	.get-more {
		top:20%;
	}

	.client {
		font-size:14px;
	}


	.col-lg-10 {

		display:none;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		margin-top:10%;
		padding:0;

	.btn-large {
		font-size:28px;
		}
	}

	.thanks-text {
		position:absolute;
		top:5%;

		h2 {
			font-size:24px;
			margin-bottom:10px;
		}

		h3 {
			font-size:21px;
		}
	}

}


.mobileMessage {
	display:block;
}



.contact {
	padding:8% 10%;

	h3{
		margin-left: 0;

		font-size:28px;
	}

}



.mktField {
	display: block;
	min-height: 0;
	margin: 20px 0 20px 0;

}

input[type="text"], textarea {
	width:100% !important

}


.marketoForm .submitButton {
	width: 90%;

}

.phoneNumber {
	font-size:21px;
	text-align:left;
}

.how {
	/*padding:18% 0 0 0;*/

	img {
		padding:14px 0;
	}

}


.about {
	padding:8% 10%;

	h2{
		font-size: 34px;
	}

	.watch {
		margin:58px 0;
		background-size:300px;
		height:240px;

		img {
			width:125px;
		}
	}
}




.whatwedo {
	padding:12% 10%;

	.container {
		padding: 0;
	}

	img {
		max-width:270px;
	}

	.col-sm-1 {
		display: inline;
	}

	.col-lg-4 {
		margin-top: 12%;
	}

}


.story {
	padding:8% 10%;

	img {
		max-width:100%;
	}

	h2 {
		padding-top:0;
	}

	h3 {
		margin-top:0 !important;
	}

	.col-lg-4{
		margin: 8% 0;
		float:none;
	}

	.tabContainer {
		padding-top:0;
		margin-top:0;
	}

	.col-lg-11 p, .col-lg-12 p {
		margin-bottom:12px;
	}

	#stories svg, #leadintell img {
		margin-top:20px;
	}

}



.well {
    width: 100%;
	border-radius:0;
	border:none;
	display:inline-block;
	font-size:17px;
}

#top-link-block.affix {
	right: 0;
    z-index:103;
    width: 100%;
    text-align: center;
	bottom:-22px;
}

footer {
	.footerLinks {
		margin-bottom:20px;
	}
	.credits {
		padding-bottom: 40px;
	}
}


} /* end 768 width */


@media (max-width: 550px) {
	#intro {
		.get-more {
			width:90%;
			top:16%;
		}

	}

	nav li {
    margin-left: 10px;
	}

	g.watch{
		img {
			width:85px;
			}
	}

	#confirm #intro {
    	padding-top: 92.62%;
	}
}


@media (max-width: 450px) {
	#intro {

	.get-more {
		top:14%;
	}

	.client {
		display:none;
	}

	}
}

@media (max-width: 415px) {
	#intro {

		h2 {

		   font-size: 28px;
			line-height: 26px;
			}

		.value {
			font-size:14px
		}

		.thanks-text {

			top:4%;
			padding-left:12px;
			line-height:20px;

			h2 {
				font-size:21px
			}

			h3 {
				font-size:17px
			}

			ul {
				margin-left:-10px;
				margin-top:12px;
			}
		}

	}

	.closer h2 {
    font-size: 38px;
	}


}

@media (max-width: 360px){
#confirm #intro {
    	padding-top: 106.62%;
	}
}

@media screen and (orientation:landscape) and (max-device-width: 768px){
 #intro {

		.get-more {
			top:28%;
		}

	}
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  #intro, .closer, .whatwedo {
	background-attachment:scroll;
}

	.industries {
		display:none;
	}
}
